<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sandoartestudio.nightforever">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Night Foverer"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".TelaLogin"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TelaCadastro"
            android:label="Cadastro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TelaPrincipal"
            android:label="Menu Principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TelaMapa"
            android:label="Mapa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TelaMinhaConta"
            android:label="Minha Conta"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
